@use 'strike-hover';
@use 'float-hover';
@use 'spin-hover';
@use 'scroll-bar';

// Import Fonts From Google
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Colours
$black : #262730;
$white : #FFF4E9;
$blue : #9BB1FF;
$darker-blue : #788BFF;

// Fonts
$roboto: 'Roboto', sans-serif;
@mixin font-roboto($weight: 300, $size : 12px, $spacing : 0.2mm){
    font-weight: $weight;
    letter-spacing: $spacing;
    font-size: $size;
    font-family: $roboto;
}

// Mixins
@mixin flex($direction: row, $justify: center, $align: center){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

// Reset Default Styles
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


// Body
body {
    background-color: $black;
    padding-inline: 15px;
    color: $white;
    @include font-roboto();
}


.landing-page{

    display: grid;
    grid-template-rows: 100px 1fr 140px;
    grid-template-columns: 1fr;
    gap: 10px;

    width: 100%;
    height: 100vh;

    .header{
        grid-row: 1;

        margin-top: 30px;

        max-width: 95vw;
        padding-inline: 7%;


        @include flex;

        .icon{

            @include flex;
            height: 100%;
            font-size: 30px;

        }
        .navigation{
            @include flex($justify: flex-end);
            flex-grow: 1;
            gap: clamp(10px, 8%, 70px);
            height: 100%;

            .nav-link{
                color:rgba($white, 0.8);
                text-decoration: none;
                @include font-roboto($spacing: 0.6mm);
            }
        }
    }
    .content{

        grid-row: 2;
        padding-inline: 30px;

        @include flex($justify: space-around);
        gap: 30px;
        flex-wrap: wrap;

        .text{

            @include flex($direction: column, $align: flex-start);
            gap: clamp(20px, 5vw, 30px);

            .title{
                @include font-roboto($size: clamp(40px, 11vw, 70px), $weight: 200, $spacing: 0.4mm);
                transform: translateX(-5px);
            }

            .sub-title{
                @include font-roboto($size: 16px, $weight: 400, $spacing: 0.8mm);
                color: rgba($white, 0.6);
            }

            .buttons{
                @include flex;
                gap: 20px;
                font-size: 20px;

                .button{
                    color: rgba($white, 0.7);
                }
            }


        }
       
        .cube-container{
            @include flex;

            .cube{
                max-width: 75vw; 
                width: 400px;
                aspect-ratio: 1;
            }

        }
    }
    .footer{
        @include flex;
        grid-row: 3;
        margin-bottom: 30px;
        .footer-animation{
            height: 90%;
            filter: invert(1);
        }
    }
}

.about-us-page{
    height: 100vh;
    background: red;
    width: 100%;
}


