
$white : #FFF4E9;
$blue : #9BB1FF;

.strike-hover{
    position: relative;
}

.strike-hover:hover{
    color: $blue;
    cursor: pointer;
}

.strike-hover:before, .strike-hover:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: $white;
}

.strike-hover:before {
    left: -2.5px;
}

.strike-hover:after {
    right: 2.5px;
    background: $white;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike-hover:hover:before {
    background: $white;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.strike-hover:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
    color: $white;
}