
@use 'scroll-bar';
@use 'trailer';

// Load Animations
@use './load-animations/fade';
@use './load-animations/transition-timings';

// Hover Animations
@use './hover-animations/strike-hover';
@use './hover-animations/float-hover';
@use './hover-animations/spin-hover';

// Import Fonts From Google
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --vh: 1vh;
}

// Colours
$black : #262730;
$white : #FFF4E9;
$blue : #9BB1FF;
$darker-blue : #788BFF;

// Fonts
$roboto: 'Roboto', sans-serif;
@mixin font-roboto($weight: 300, $size : 12px, $spacing : 0.2mm){
    font-weight: $weight;
    letter-spacing: $spacing;
    font-size: $size;
    font-family: $roboto;
}

// Mixins
@mixin flex($direction: row, $justify: center, $align: center){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}

// Calculate True value for 1vh
@mixin trueHeight($height: 100){
    height: #{$height}vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * $height);
}

// Reset Default Styles
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}


// Body
body {
    background-color: $black;
    padding-inline: 15px;
    color: $white;
    @include font-roboto();
    scroll-snap-type: y proximity;
}

// Background for ambient particles
.background{
    position: absolute;
    left: 0;
    top: 0;
    margin: none;
    padding: none;
}

.hide{
    transition: 0.3s;
    opacity: 0 !important;
  }

.landing-page{

    margin-bottom: 150px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-columns: 1fr;
    gap: 10px;

    width: 100%;

    @include trueHeight;

    .header{
        grid-row: 1;

        margin-top: 30px;

        max-width: 95vw;
        padding-inline: 7%;


        @include flex;
        

        .resume{

            height: 100%;
            font-size: 14px;
            @include flex;
            text-decoration: none;

            *{
                transition: 0.6s;
            }

            .icon{
                @include flex;
                position: relative;
                height: 30px;
                float: left;
                width: 30px;

            }

            .text{
                margin-left: 15px;
                color:rgba($white, 0.8);
                @include font-roboto($spacing: 0.6mm);
            }

            .square1, .square2 {
                width: 20px;
                height: 20px;
                border: 1px solid $white;
                transform: rotate(45deg);
                position: absolute;
                transition: 0.4s;
                float: left;
            }

            .square2{
                transition: opacity 0.8s ease-in, transform 0.4s linear;
            }

            &:hover{
                .square1{
                    transform: rotate(45deg) scale(0.15);
                    background: rgba($white, 0.8);
                }
                .square2{
                    transform: rotate(45deg) scale(2);
                    opacity: 0.6;
                }
                .text{
                    transform: translateX(15px);
                    opacity: 0.6;
                }
            }
            
        }

        .navigation{
            @include flex($justify: flex-end);
            flex-grow: 1;
            gap: clamp(10px, 8%, 70px);
            height: 100%;

            .nav-link{
                color:rgba($white, 0.8);
                text-decoration: none;
                @include font-roboto($spacing: 0.6mm);
                padding: 5px;
            }
        }
    }
    .content{

        grid-row: 2;
        padding-inline: 30px;

        @include flex($justify: space-around);
        gap: 30px;
        flex-wrap: wrap;

        .text{

            @include flex($direction: column, $align: flex-start);
            gap: clamp(20px, 5vw, 30px);

            .title{
                @include font-roboto($size: clamp(40px, 11vw, 70px), $weight: 200, $spacing: 0.4mm);
                transform: translateX(-5px);
            }

            .sub-title{
                @include font-roboto($size: 16px, $weight: 400, $spacing: 0.8mm);
                color: rgba($white, 0.6);
            }

            .buttons{
                @include flex;
                font-size: 20px;

                transform: translateX(-10px);

                .button{

                    color: rgba($white, 0.7);
                    padding:  2px 15px;

                }

            }


        }
       
        .cube-container{
            @include flex;

            &hover{
                cursor: url(hand.cur),  grab;
            }

            .cube{
                max-width: 75vw; 
                width: 400px;
                aspect-ratio: 1;

            
            }


            .frame-animation{
                filter: invert(0.8);
                height: 100%;
                width: 100%;
            }

        }
    }
    .footer{
        @include flex;
        grid-row: 3;
        margin-bottom: 5px;

        .footer-animation{
            height: 100%;
            filter: invert(1);
        }

        .scrollHint{
            height: 100%;
            width: 30px;
            @include flex($direction: column);

            .text{
                transform: rotate(90deg);
                font-size: 10px;
                letter-spacing: 0.5mm;
            }

            .line{

                margin-top: 30px;

                width: 10px;
                height: 10px;
                border: 1px solid $white;
                transform: rotate(45deg);
                transition: 0.3s;
            }

            &.active{

            }
        }
    }
}

// Media Query for Mobile Devices
@media (max-width: 530px ) {

    .landing-page{

        grid-template-rows: 140px 1fr 100px;

        .footer{
            margin-top: 20px;
        }

        .content{
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .header{
            flex-direction: column;

            .navigation{

                justify-content: center;
                margin-top: 20px;

            }

        }
    }
}

// Seperator Styles with custom width
@for $counter from 0 through 10{

    $percent : #{$counter * 10} + '%';

    .seperator-#{$counter} {
        width: $percent;
        height: 1px;
        margin: 0 auto;
        background: rgba($white, 0.3);
        
    }
}

// General Page Styles
.page{
    width: 80%;
    margin: 0px auto;
}
@media (max-width: 1300px) {
    .page{
        width: 90%;
    }
}
@media (max-width: 600px) {
    .page{
        width: 95%;
    }
}

.pageTitle{
    width: 90%;
    margin: 0 auto;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;

    .pointer{
        @include flex;
        margin-right: 15px;

        * {  
            width: 12px;
            height: 12px;
            
            border: 1px solid $white;
            margin-right: 10px;
            transform: rotate(45deg);
            position: absolute;
            transition-delay: 0.5s;
        }

        &.show{

            .inner{
                transform: rotate(135deg) scale(0.15);
                animation: square-highlight-inner 0.6s ease-in;
                background: $white;
            }

            .outer{
                transform: rotate(135deg) scale(1.5);
                animation: square-highlight-outer 0.6s ease-in;
            }

        }

    }

    .number{
        color: rgba($white, 0.4);
    }

    .title{
        letter-spacing: 2mm;
    }

    .line{
        flex-grow: 1;
        height: 1px; 
        background: rgba($white, 0.4);
    }
}

.about-us-page{

    height: calc(100vh - 60px);
    height: calc((var(--vh, 1vh) * 100) - 70px);
    background: $black;
    margin-bottom: 200px;

    .content{
        // height: calc(100% - 160px);
        height: calc(100% - 40px - 80px);
        width: 90%;
        margin: 0 auto;
        margin-top: 40px;
        display: flex;
        flex-direction: row;

        .verticalLine{
            height: 100%;
            width: 1px;
            background: rgba($white, 0.1);
            margin-inline: 40px;
        }

        .container{
            @include flex($justify: space-around, $direction: column, $align: flex-start);

            .item{

                font-size: 14px;
                letter-spacing: 0.4mm;
                color: rgba($white, 1);
                line-height: 1.6;
                position: relative;

                .info{
                    margin-left: clamp(0px, 3vw, 100px);
                    max-width: 900px;
                }

                .pointer{
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background: $black;
                    border: 1px solid white;
                    left: -40.0px;
                    top: 50%;
                    transform: translate(-50%, -50%) rotate(45deg);
                    z-index: 20;
                }

                .title{
                    color: rgba($white, 0.7);
                    font-size: 16px;
                    line-height: 1.6;

                }

                .techStack{
                    @include flex($direction: row);
                    flex-wrap: wrap;

                    margin-top: 20px;

                    *{
                        margin: 10px;
                        font-size: 30px;
                    }

                    *:nth-child(1){
                        margin-left: 0;
                    }

                    .break{
                        width: 3px;
                        height: 3px;
                        border: 1px solid rgba($white, 0.3);
                        transform: rotate(45deg);
                        opacity: 0;
                    }

                }

            }
        }
    }

}

@keyframes square-highlight-outer{
    0% {
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(135deg) scale(1);

    }
    100%{
        transform: rotate(135deg) scale(1.5);
    }
}

@keyframes square-highlight-inner{
    0% {
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(135deg) scale(1);
        background: transparent;

    }
    100%{
        transform: rotate(135deg) scale(0.15);
        background: $white;
    }
}




